<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body ng-controller="TodoCtrl">
<section>
  <input type="text" ng-model="todo"><button ng-click="add()">Add</button>
  <ul>
    <li ng-repeat="todo in todos" ng-bind="todo"></li>
  </ul>
</section>
<script src="./Scope.js"></script>
<script src="./Register.js"></script>
<script src="./DOMResolver.js"></script>
<script src="./Watcher.js"></script>
<script src="./lib/myDirectives/NgClick.js"></script>
<script src="./lib/myDirectives/NgRepeat.js"></script>
<script src="./lib/myDirectives/NgController.js"></script>
<script src="./lib/myDirectives/NgBind.js"></script>
<script src="./lib/myDirectives/NgModel.js"></script>
<script src="./Myapp.js"></script>
</body>
</html>